/* the styles for the elements */
body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width:600px;
    margin:0px auto 0px auto;
    border: 3px solid #931420;
    background-color:#fffded;
}

html{
	background-color: white;
}

/* the styles for the header */
header img {
	float: left;
    padding: 0px 30px 0px 30px;
}

header {
	border-bottom:3px solid #931420;
	padding: 1.5em 0em 2em 0em;
	background: -webkit-linear-gradient(30deg, #f6bb73 0%, #f6bb73 30%, white 50%, #f6bb73 80%,#f6bb73 0%) ;
}
h2 {
	font-size: 170%;
	color:#800000;
	margin-left: 30px;
}
h3 {
	font-size: 130%;
	font-style: italic;
	margin-left: 30px;
}

/* the styles for the section */
main {
	clear: left;
    padding: 0px 30px 0px 30px;
}
main h1{
	font-size: 150%;
    border-top: 3px solid #931420;
    border-bottom: 3px solid #931420;
    padding-top: .3em;
    padding-bottom: .3em;
    box-shadow: inset 0 0 0 4px #eee;
  	border-style:double #f06d06;
  	border-radius: 30px;
    
}
main h2{
	font-size: 130%;
	color:#800000;
    padding-top: .5em;
    padding-bottom: .25em;
}
main h3{
	font-size: 105%;
    padding-bottom: .75em;
}
main a:hover{
    font-style: italic;
}

.shadow{
	 text-shadow: 2px 2px #800000;
}
main image {
    padding-bottom: 1em;

}
main p {
    padding-bottom: .5em;
}
main q{
    padding-right: 2em;
    padding-left: 2em;
    font-style: italic;
}
ul {
    padding-bottom: .25em;
    padding-left: 1.25em;
}
li {
    padding-bottom: .35em;
}
a:hover, a:focus {
    font-style: italic;
}

/* the styles for the footer */
footer p {
	text-align: center;
    border-top: 3px solid #931420;
    background-color: #931420;
    color: white;  
    padding-top: 1em;
    padding-bottom: 1em;
}